@{
  Layout = "_Layout";
}
@model NUE.Models.Reservation
<div class="containerDiv">
  <h2>Edit</h2>

  <h4>Edit this reservation: @Html.DisplayFor(model => model.Event.EventTitle)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.ReservationId)

      @Html.Label("Select Event")
      @Html.DropDownList("EventId")

      @Html.Label("SpecialRequest")
      @Html.EditorFor(model => model.SpecialRequest)

      @Html.Label("SongRequest")
      @Html.EditorFor(model => model.SongRequest)

      <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Back to reservations", "Index")</p>
</div>
