@{
    Layout = "_Layout";
}
@model NUE.Models.Event
<div class="containerDiv">
  <h1>New Event</h1>
  <br>
  @if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.EventTitle)<br>
      @Html.TextBoxFor(model => model.EventTitle)<br>
      <br>
      @Html.LabelFor(model => model.Date)<br>
      @Html.EditorFor(model => model.Date, new { @type = "date" })<br>
      <br>
      @Html.LabelFor(model => model.Location)<br>
      @Html.TextBoxFor(model => model.Location)<br>
      <br>
      @Html.LabelFor(model => model.Dj)<br>
      @Html.TextBoxFor(model => model.Dj)<br>
      <br>
      <button type="submit" class="btn btn-primary">Confirm Event</button>
      <br>
  }
}
else
{
  <h3>Please log in or register in order to reserve.</h3>
}
<br>
</div>
