@{
    Layout = "_Layout";
}
@model WebApp2.Models.Reservation

<div class="containerDiv">
  <h1>New RSVP</h1>
  <br>
  @if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm())
  {
      @Html.Label("Select Event")<br>
      @Html.DropDownList("EventId")<br>
      <br>
      @Html.Label("Song Request")<br>
      @Html.TextBoxFor(model => model.SongRequest)<br>
      <br>
      @Html.Label("Drink Request")<br>
      @Html.TextBoxFor(model => model.DrinkRequest)<br>
      <br>
      @Html.Label("VIPsp Request")<br>
      @Html.TextBoxFor(model => model.SpecialRequest)<br>
      <br>
      <button type="submit" class="btn btn-primary">Confirm RSVP</button>
      <br>
  }
}
else
{
  <h3>Please log in or register in order to reserve.</h3>
  
}
<br>
</div>