@{
    Layout = "_Layout";
}
@model WebApp2.Models.Reservation

<div class="rsvpDiv">
  <h3>New RSVP</h3>
  <br>
  @if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm())
  {
      
      @Html.Label("Select Event")
      @Html.DropDownList("EventId")
      <br>
      @Html.Label("Song Request")
      @Html.TextBoxFor(model => model.SongRequest)
      <br>
      @Html.Label("Drink Request")
      @Html.TextBoxFor(model => model.DrinkRequest)
      <br>
      @Html.Label("VIPsp Request")
      @Html.TextBoxFor(model => model.SpecialRequest)
      <br>
      <input type="submit" value="Confirm RSVP" />
  }
}
else
{
  <h3>Please log in or register in order to reserve.</h3>
  
}
</div>