@{
  Layout = "_Layout";
}


@model WebApp2.Models.Reservation;

<h1>RSVP Details for <b>@Html.DisplayFor(model => model.Event.EventTitle)</b></h1>
<br>
<h3>Song Request: <b>@Html.DisplayFor(model => model.SongRequest)</b></h3>
<h3>Drink Request: <b>@Html.DisplayFor(model => model.DrinkRequest)</b></h3>
<h3>Special Request: <b>@Html.DisplayFor(model => model.SpecialRequest)</b></h3>

<br>
<h4>@Html.ActionLink("Send reservation to phone", "SendMessage", new {id = Model.ReservationId})</h4>
<h4>@Html.ActionLink("Back to reservations", "Index")</h4>
<h4>@Html.ActionLink("Edit Reservation", "Edit", new { id = Model.ReservationId })</h4>
<h4>@Html.ActionLink("Delete Reservation", "Delete", new { id = Model.ReservationId })</h4>