@{
    Layout = "_Layout";
}
@model WebApp2.Models.Event
@if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.EventTitle)
      @Html.TextBoxFor(model => model.EventTitle)
      @Html.LabelFor(model => model.Date)
      @Html.EditorFor(model => model.Date, new { @type = "date" })
      @Html.LabelFor(model => model.Location)
      @Html.TextBoxFor(model => model.Location)
      @Html.LabelFor(model => model.Dj)
      @Html.TextBoxFor(model => model.Dj)
      <input type="submit" value="Confirm Event" />
  }
}
else
{
  <h3>Please log in or register in order to reserve.</h3>
}
