@{
  Layout = "_Layout";
}

@model WebApp2.Models.Event;
@using Microsoft.AspNetCore.Http;
@{
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
}

<div class="containerDiv">
  <h1><b>@Html.DisplayFor(model => model.EventTitle) Details</b></h1>
  <br>
  <h3>Date <b>@Html.DisplayFor(model => model.Date)</b></h3>
  <h3>Location <b>@Html.DisplayFor(model => model.Location)</b></h3>
  <h3>Dj <b>@Html.DisplayFor(model => model.Dj)</b></h3>

<br>
<h4>@Html.ActionLink("RSVP", "Create", "Reservations")</h4>
<h4>@Html.ActionLink("Back to event overview", "Index")</h4>
<h4>@Html.ActionLink("Edit Event", "Edit", new { id = Model.EventId })</h4>
<h4>@Html.ActionLink("Delete Event", "Delete", new { id = Model.EventId })</h4>

<a href="https://www.facebook.com/sharer/sharer.php?u=@enc" 
     target="_blank">
    <img src="https://www.ucu.org.uk/media/8018/Facebook-share-button-short/Image/fbshare-button.png" style="width: 100px;">
</a>

<a href="https://twitter.com/intent/tweet?url=@enc" 
   target="_blank" title="Tweet">
   <img src="https://webstockreview.net/images/twitter-button-png-11.png" style="width: 140px;">
</a>

<a href="https://plus.google.com/share?url=@enc" 
   target="_blank" title="Share on Google+">
   <img src="https://lh3.googleusercontent.com/proxy/sIblBRpoh6C1NbVHMX_Lg84GZwKINxT5er-jRxjblP_d2vvPud42QFmGlR5pzqfpU27hDgKodL3sl4w1F7kYcEj9nKNtI3qy7UyCbx0XJgF_XagEdG5bUOp0xDrhLWIjBfm63TQdiiWsDmruK5ctQA" style="width: 140px;">
</a>
<hr>
<h3>Comments:</h3>
@if(Model.Comments.Count == 0)
{
      <div class="col-md-8">
        <h3 class="text-right">No comments have been added.</h3>
        @if (User.Identity.IsAuthenticated)
        {
        @using(Html.BeginForm("AddComment", "Events", new {EventId = Model.EventId})) 
        {
          <div class="row comment-box-main p-3 rounded-bottom">
            <input type="hidden" value="@Model.EventId" name="EventId"/>
            <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
              <input type="text" class="form-control" name="Description" id="Description" placeholder="comment ...." />
            </div>
            <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
              <button class="btn btn-info" type="submit">Send</button>
            </div>
          </div>
        }
        }
			</div>
}
else
{
    <div class="row">
			<div class="col-md-12 offset-md-1 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
                
                @foreach (Comment comment in Model.Comments)
                {
                    <ul class="p-0">
                        <li>
                            <div class="row comments">
                                <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                                    <img id="profile-photo" src="@comment.Image" class="rounded-circle" />
                                </div>
                                <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                                    <h4 class="m-0"><a href="#">@comment.User.UserName</a></h4>
                                    <time class="text-white ml-3">@comment.Time</time>
                                    <like></like>
                                    <p class="mb-0 text-white">@comment.Description</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
        @if (User.Identity.IsAuthenticated)
        {
        	@using(Html.BeginForm("AddComment", "Events", new {EventId = Model.EventId})) 
          {
            <div class="row comment-box-main p-3 rounded-bottom">
              <input type="hidden" value="@Model.EventId" name="EventId"/>
              <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
                <input type="text" class="form-control" name="Description" id="Description" placeholder="comment ...." />
              </div>
              <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
                <button class="btn btn-info" type="submit">Send</button>
              </div>
            </div>
          }
          }
        </div>
  }
  else
  {
      <div class="row">
        <div class="col-md-12 offset-md-1 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
                  
                  @foreach (Comment comment in Model.Comments)
                  {
                      <ul class="p-0">
                          <li>
                              <div class="row comments">
                                  <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                                      <img id="profile-photo" src="@comment.Image" class="rounded-circle" />
                                  </div>
                                  <div class="col-md-10 col-sm-9 col-9 comment rounded mb-2">
                                      <h4 class="m-0"><a href="#">@comment.User.UserName</a></h4>
                                      <time class="text-white ml-3">@comment.Time</time>
                                      <like></like>
                                      <br>
                                      
                                      <h3 class="mb-0 text-white">@comment.Description</h3>
                                      
                                  </div>
                              </div>
                          </li>
                      </ul>
                  }
          @if (User.Identity.IsAuthenticated)
          {
            @using(Html.BeginForm("AddComment", "Events", new {EventId = Model.EventId})) 
            {
              <div class="row comment-box-main p-3 rounded-bottom">
                <input type="hidden" value="@Model.EventId" name="EventId"/>
                <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
                  <input type="text" class="form-control" name="Description" id="Description" placeholder="comment ...." />
                </div>
                <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
                  <button class="btn btn-info" type="submit">Send</button>
                </div>
              </div>
            }
          }
        
        </div>
      </div>
  }
</div>
